
.test { 
    display: grid; 
    justify-content: center;
    margin-top: 5rem; 
}

blockquote { 
    text-align: center;
    margin-top: 5rem;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.testhh { 
    padding-top: 2rem; 
}

a { 
    color: white !important;
    font-size: 1.5rem !important;
    
}

.one { 
    margin-top: 2rem;
}

.hrline { 
    margin-top: 2rem;
}

.footerstyle  {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.0;
    text-align: center;
    margin-top: 4rem;
}
